@use './variables.scss' as *;

body{
    font-family: 'Roboto';
}
.hero-main {
    display: flex;
    justify-content: center; 
    align-items: center;  
    height: 100vh; 
    background-image: url('/images/Hero\ Banner.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    position: relative;
    img {
        width: 100%; 
        height: 100%; 
        object-fit: cover;  
        position: absolute;
        top: 0;
        left: 0; 
    }
    .hero-content{
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 40%;
        margin: 0;  
        color: $hero-text;
        padding: 0.5rem;
        border-radius: 8px;
        left: 10rem; 
    }
    
    .hero-heading {
        font-family: 'Roboto';
        font-size: $font-size-heading-hero;  
        font-weight: $font-weight-hero-heading;
        margin-bottom: 0.8rem;
      }
  
      .hero-text {
        font-size: $font-size-text;  
        line-height: 1.6;
      }
  }

  .about-container{
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 50px 0 0 0;
    background-color: $background-color;

    .title{
        font-weight: $title-weight;
        font-size: $title-font-size;
        color: $primary-color;
        border-bottom: 5px solid $secondary-color;
    }
    .about-content{
        font-size: $font-size-text;
        font-weight: $content-text-weight;
        color: $secondary-color;
        line-height: 3rem;
        text-align: center;
        margin: 3rem;
        width: 50%;
    }
  }

   .latest-container{
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 0 auto;
    background-color: $background-color;
        
        .title{
            font-weight: $title-weight;
            font-size: $title-font-size;
            color: $primary-color;
            border-bottom: 5px solid $secondary-color;
        }
        .row{
            width: 99%;
            margin-top: 3rem;
        }
        .swiper {
            width: 75%;
            max-width: auto; 
            margin: 0 auto;
        }
          
        .swiper-slide {
            display: flex;
            justify-content: center;
        }

          
          .swiper-wrapper {
            margin-bottom: 50px; 
          }
          
        .swiper-pagination-bullet {
            width: 30px; 
            height: 4px; 
            border-radius: 0;
            background: #007bff; 
            opacity: 0.5;
            transition: opacity 0.3s ease;
        }
          
        .swiper-pagination-bullet-active {
            opacity: 1; 
            background: #0056b3; 
        }

        .mdb-card {
            width: 100%;
        }
        .a-wrapper {
            display: flex; 
            justify-content: flex-end; 
            margin-top: 10px; 

            a{
                color:$primary-color;
                font-size: 20px;
                transition: transform 0.7s ease-in-out;
    
                img{
                    margin-left: 2rem;
                    height: 12px;
                }
                
            }
            a:hover {
                transform: scale(1.1); 
              }
          }        
   }

    .testonomial-container{
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        justify-content: center;
        padding: 5rem 0;

        .title{
            font-weight: $title-weight;
            font-size: $title-font-size;
            color: $primary-color;
            border-bottom: 5px solid $secondary-color;
        }
        .swiper {
            width: 75%;
            max-width: auto; 
            margin: 0 auto;
        }
        
        .swiper-slide {
            display: flex;
            justify-content: center;
        }

        
        .testimonial-slide {
            position: relative; 
            width: 45%;
            margin: 5rem auto;
            text-align: center;
        }
        
        .quote-icon-top-right {
            position: absolute;
            top: -20px; 
            right: 20px; 

            img{
                width: 30px;
            }
        }
        
        .quote-icon-bottom-left {
            position: absolute;
            bottom: -20px; 
            left: 20px; 

            img{
                width: 30px;
                transform: rotate(180deg); 
                display: block;
            }
        }
        
        .testimonial-text {
            font-size: 1.2rem;
            color: #555;
            margin: 20px 0;
            font-style: italic;
        }
        
        .testimonial-author {
            font-size: 1rem;
            font-weight: bold;
            color: #0864b1;
            margin-top: 20px;
        }
        
        .testimonial-author span {
            font-size: 0.9rem;
            font-weight: normal;
            color: #999;
        }
        .swiper-button-prev,
        .swiper-button-next {
          color: #969696; 
          width: 60px; 
          height: 40px;
        }
        
        .swiper-button-prev:hover,
        .swiper-button-next:hover {
          color: #0864b1; /* Change the arrow color on hover */
        }
}
  
  .contact-us-container{
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 5rem 0 0 0;
        .title{
            font-weight: $title-weight;
            font-size: $title-font-size;
            color: $primary-color;
            border-bottom: 5px solid $secondary-color;
        }
        .location-container {
            display: flex;
            margin: 2rem 0 0 0 ;
            width: 100%;
            height: 100%;
          }
          
          .location-container iframe {
            width: 100%; 
            height: 550px; 
            border: none;
          }
  }

.footer{
    display: flex;
    flex-direction: column;
    padding:3rem 4rem 0 4rem;
    margin: 0;
    background-color: $primary-color;
    color: $hero-text;

    .footer-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 2rem 0;

        .company-info{
            display: flex;
            flex-direction: row;
            align-items:flex-start;

            img{
                width: 200px;
                height: auto;
            }
            address{
                margin: 0;
                margin-left: 2rem;
                letter-spacing: 0.1rem;
            }
        }

        .social-media{
            display: flex;
            flex-direction: column;
            margin: 0;

            h3{
                color: $hero-text;
                font-size: 24px;
                font-weight: 800;
                margin-bottom: 1rem;
            }
            .icons {
                display: flex;
                gap: 1rem;
                margin-bottom: 1rem;
        
                .icon {
                  width: 40px;
                  height: 40px;
                  display: inline-block;
                  background-size: cover;
                  background-position: center;
                  border-radius: 20%;
        
                  &.facebook {
                    background-image: url('/images/facebook.svg');
                  }
                  &.twitter {
                    background-image: url('/images/twitter.svg');
                  }
                  &.instagram {
                    background-image: url('/images/insta.svg');
                  }
                  &.linkedin {
                    background-image: url('/images/linkedin.svg');
                  }
                  &.youtube {
                    background-image: url('/images/youtube.svg');
                  }
                }
              }
        }
    }



.copyright-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;

    .text-copyright{
        font-weight: 800;

    }
}
}
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 1rem 4rem;
    display: flex;
    align-items: center;
    background: transparent;
    z-index: 100;
  
    .navbar-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .left-container{
        display: flex;
        flex-direction: row;
        align-items: center;

        .logo {
            display: flex;
            margin-right: 2rem;

            img{
                width: 200px;
                height: auto;
            }
          }

          .language-selector {
            position: relative;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            cursor: pointer;
            color: #fff;
            font-size: 12px;
        
            .arrow-down {
              width: 8px;
              height: 8px;
              border-left: 2px solid #fff;
              border-bottom: 2px solid #fff;
              transform: rotate(-45deg);
            }
        
            .dropdown-menu {
              position: absolute;
              top: 100%;
              right: 0;
              background: #cfcfcfe6;
              border-radius: 5px;
              padding: 0.5rem;
              display: flex;
              flex-direction: column;
              box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        
              li {
                list-style: none;
                padding: 0.5rem;
                color: #000000;
                cursor: pointer;
                transition: background 0.3s;
        
                &:hover {
                  background: rgba(229, 229, 229, 0.396);
                }
              }
            }
          }
      }

      .right-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .nav-links {
            display: flex;
            align-items: center;
            gap: 2rem;
            margin: 0;
        
            li {
              list-style: none;
        
              a {
                text-decoration: none;
                color: #d9d9d9;
                font-size: 18px;
                transition: color 0.3s;
                font-weight: 600;
        
                &:hover {
                  color: #ffffff;
                }
              }
            }
          }
          .menu-toggle {
            display: block;
            cursor: pointer;
            margin-left: 2.5rem;
        
            .hamburger {
              width: 30px;
              height: 30px;
              background-color: #ffffff00;
              position: relative;
        
              &::before,
              &::after {
                content: "";
                width: 25px;
                height: 3px;
                background-color: #fff;
                position: absolute;
                left: 0;
                transition: all 0.3s;
              }
        
              &::before {
                top: -8px;
              }
        
              &::after {
                top: 8px;
              }
            }
          }
      }


    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        background: rgba(255, 255, 255, 0.9); 
        padding: 0.5rem 1rem;
        position: absolute;
        top: 100%;
        right: 1rem;
        border-radius: 8px; 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
        z-index: 99;
        width: 200px; 
      
        li {
          margin: 0.5rem 0;
          list-style: none;
          padding: 0.5rem; 
          border-radius: 5px; 
          transition: background 0.3s ease, color 0.3s ease;
      
          &:hover {
            background: rgba(183, 183, 183, 0.6); 
           
          }
      
          a {
            text-decoration: none;
            color: #000000;
            font-size: 1rem;
            display: block;
            width: 100%; 
          }
        }
      }
      
  

  }
  
  