$font-size-heading-hero: 70px;
$font-weight-hero-heading:800;
$font-size-text: 22px;
$text-color: black;
$primary-color: #0066CC;
$secondary-color:#757575;
$hero-text:#ffffff;
$background-color:#e9e7e6;
$title-weight:700;
$title-font-size:42px;

$content-text-weight:400;
